includes:
    - phpstan-baseline.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    inferPrivatePropertyTypeFromConstructor: true
    level: 8
    paths:
        - src
        - tests
