parameters:
	ignoreErrors:
		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:assetResponse\(\) should return array\{asset\: array\{filename\: string, created_at\: string, updated_at\: string, expire_at\: string\|null, content_length\: int, signed_url\: string, content_type\: string\}\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:datasourceDimensionResponse\(\) should return array\{id\: int, name\: string, entry_value\: string, datasource_id\: int, created_at\: string, updated_at\: string\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:datasourceEntriesResponse\(\) should return array\{datasource_entries\: list\<array\{id\: int, name\: string, value\: string, dimension_value\: string\|null\}\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:datasourceEntryResponse\(\) should return array\{id\: int, name\: string, value\: string, dimension_value\: string\|null\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:datasourceResponse\(\) should return array\{id\: int, name\: string, slug\: string, dimensions\: list\<array\{id\: int, name\: string, entry_value\: string, datasource_id\: int, created_at\: string, updated_at\: string\}\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:datasourcesResponse\(\) should return array\{datasources\: list\<array\<string, mixed\>\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:linkAlternateResponse\(\) should return array\{lang\: string, name\: string, path\: string, published\: bool, translated_slug\: string\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:linkResponse\(\) should return array\{uuid\: string, id\: int, parent_id\: int\|null, name\: string, slug\: string, path\: string, real_path\: string, is_folder\: bool, \.\.\.\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:linksResponse\(\) should return array\{links\: list\<array\<string, mixed\>\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:multiLinkResponse\(\) should return array\{id\: string, url\: string, email\: string, linktype\: string, fieldtype\: string\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:richTextResponse\(\) should return array\{type\: string, content\: list\<array\<mixed\>\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:spaceResponse\(\) should return array\{id\: int, name\: string, domain\: string, version\: int, language_codes\: list\<string\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:storiesResponse\(\) should return array\{cv\: int, stories\: list\<array\<string, mixed\>\>, links\: array\<string\>, rels\: array\<string\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:storyAssetResponse\(\) should return array\{id\: int, is_external_url\: bool, filename\: string\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:storyResponse\(\) should return array\{cv\: int, story\: array\<string, mixed\>, links\: array\<string\>, rels\: array\<string\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Method Storyblok\\Api\\Bridge\\Faker\\Provider\\StoryblokProvider\:\:tagsResponse\(\) should return array\{tags\: list\<array\{name\: string, taggings_count\: int\}\>\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Bridge/Faker/Provider/StoryblokProvider.php

		-
			message: '#^Strict comparison using \!\=\= between array\{\} and numeric\-string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/Domain/Type/Asset.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Datasource\:\:\$dimensions \(list\<Storyblok\\Api\\Domain\\Value\\DatasourceDimension\>\) does not accept array\<Storyblok\\Api\\Domain\\Value\\DatasourceDimension\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Datasource.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Field\\FieldCollection\:\:\$items \(list\<Storyblok\\Api\\Domain\\Value\\Field\\Field\>\) does not accept array\<int\<0, max\>, Storyblok\\Api\\Domain\\Value\\Field\\Field\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Field/FieldCollection.php

		-
			message: '#^PHPDoc tag @return contains unresolvable type\.$#'
			identifier: return.unresolvableType
			count: 1
			path: src/Domain/Value/Filter/FilterCollection.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Filter\\FilterCollection\:\:\$items \(list\<Storyblok\\Api\\Domain\\Value\\Filter\\Filters\\Filter\>\) does not accept array\<int\<0, max\>, Storyblok\\Api\\Domain\\Value\\Filter\\Filters\\Filter\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Filter/FilterCollection.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\IdCollection\:\:\$items \(list\<Storyblok\\Api\\Domain\\Value\\Id\>\) does not accept array\<int\<0, max\>, Storyblok\\Api\\Domain\\Value\\Id\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/IdCollection.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Link\:\:\$alternates \(list\<Storyblok\\Api\\Domain\\Value\\LinkAlternate\>\) does not accept array\<Storyblok\\Api\\Domain\\Value\\LinkAlternate\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Link.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Resolver\\RelationCollection\:\:\$items \(list\<Storyblok\\Api\\Domain\\Value\\Resolver\\Relation\>\) does not accept array\<int\<0, max\>, Storyblok\\Api\\Domain\\Value\\Resolver\\Relation\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Resolver/RelationCollection.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Slug\\SlugCollection\:\:\$items \(list\<Storyblok\\Api\\Domain\\Value\\Slug\\Slug\>\) does not accept array\<int\<0, max\>, Storyblok\\Api\\Domain\\Value\\Slug\\Slug\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Slug/SlugCollection.php

		-
			message: '#^Property Storyblok\\Api\\Domain\\Value\\Tag\\TagCollection\:\:\$items \(list\<Storyblok\\Api\\Domain\\Value\\Tag\\Tag\>\) does not accept array\<int\<0, max\>, Storyblok\\Api\\Domain\\Value\\Tag\\Tag\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Value/Tag/TagCollection.php

		-
			message: '#^Method Storyblok\\Api\\Request\\StoriesRequest\:\:toArray\(\) should return array\{language\: string, page\: int, per_page\: int, sort_by\?\: string, filter_query\?\: list\<mixed\>, with_tag\?\: string, excluding_fields\?\: string, excluding_ids\?\: string, \.\.\.\} but returns array\{language\: string, page\: int, per_page\: int, sort_by\?\: string, filter_query\?\: array, with_tag\?\: string, excluding_fields\?\: string, excluding_ids\?\: string, \.\.\.\}\.$#'
			identifier: return.type
			count: 1
			path: src/Request/StoriesRequest.php

		-
			message: '#^Property Storyblok\\Api\\Response\\DatasourceEntriesResponse\:\:\$datasourceEntries \(list\<Storyblok\\Api\\Domain\\Value\\DatasourceEntry\>\) does not accept array\<Storyblok\\Api\\Domain\\Value\\DatasourceEntry\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Response/DatasourceEntriesResponse.php

		-
			message: '#^Property Storyblok\\Api\\Response\\DatasourcesResponse\:\:\$datasources \(list\<Storyblok\\Api\\Domain\\Value\\Datasource\>\) does not accept array\<Storyblok\\Api\\Domain\\Value\\Datasource\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Response/DatasourcesResponse.php

		-
			message: '#^Property Storyblok\\Api\\Response\\TagsResponse\:\:\$tags \(list\<Storyblok\\Api\\Domain\\Value\\Tag\>\) does not accept array\<Storyblok\\Api\\Domain\\Value\\Tag\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Response/TagsResponse.php

		-
			message: '#^Cannot call method format\(\) on DateTimeImmutable\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Domain/Value/AssetTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1003\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:101\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1022\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1038\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1054\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1070\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1086\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1102\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1118\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1134\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1150\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1166\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1182\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:1197\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:122\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:138\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:157\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:175\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:194\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:212\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:230\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:250\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:267\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:283\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:299\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:315\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:331\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:348\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:364\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:37\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:380\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:396\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:413\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:431\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:447\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:464\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:486\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:502\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:518\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:534\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:53\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:550\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:566\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:588\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:604\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:620\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:641\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:657\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:673\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:689\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:69\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:705\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:721\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:737\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:753\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:769\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:785\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:801\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:817\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:833\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:852\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:85\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:868\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:884\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:900\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:916\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:932\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:948\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:968\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:984\:\:enum\(\) should return T of BackedEnum but returns BackedEnum\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Parameter \#3 \$class of static method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:331\:\:enum\(\) expects class\-string\<BackedEnum\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php

		-
			message: '#^Unable to resolve the template type T in call to method static method class@anonymous/tests/Unit/Util/ValueObjectTraitTest\.php\:331\:\:enum\(\)$#'
			identifier: argument.templateType
			count: 1
			path: tests/Unit/Util/ValueObjectTraitTest.php
